.display-card {
    float: left;
    width: 50%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    display: block;
    position: relative;
}

.after {
    clear: both;
}

#editor {
    position: absolute;
    box-sizing: border-box;
    border: none;
}

.run-result-area {
    border: solid 1px black;
    overflow: scroll;
    padding: 7px;
    font-family: Monaco, sans-serif;
    font-weight: bold;
}

#run-result-stdout {
    color: green;
}

#run-result-stderr {
    color: red;
}

#alert-area {
    display: none;
    position: fixed;
    top: 10px;
    right: 20px;
    background-color: blue;
    color: yellow;
    padding: 10px;
}
